body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.card {
    width: 400px;
    height: 400px;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #444;
}

.input-area {
    width: 380px;
    height: 50px;
    margin-bottom: 10px;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1.5rem;
}

.numbers-operations {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    height: 80%;
}

.numbers {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.ops {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    width: 20%;

}   